{% extends 'base.html.twig' %}

{% block title %}Informatique forum{% endblock %}

{% block body %}
<div class="container">

    <div class="border">
        {% if is_granted ('ROLE_USER') %}
            {{form(form)}}
        {% endif %}
        
    </div>
</div>
{% endblock %}
