{% extends 'base.html.twig' %}

{% block title %}Informatique forum{% endblock %}

{% block body %}
<div class="container">

    <div class="border">
        {{form(form)}}
    </div>
</div>
{% endblock %}
